
body {
  width: 100vw;
  height: 100vh;
  background-color: black;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.video-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  height: 100%;
  width: 100%;
}

.controls-container {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  transition: opacity 0.5s linear;
}

/* progress and time */

.time-remaining{
 margin: 0 1.5vw 0 1vw;
 width: 1vw;
 font-size: 1.5em;
 color: white;
}

.progress_controls{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: blueviolet;
}

.progress_bar{
  width: 90%;
  height: 1vw;
  max-height: 7px;
  background-color: blueviolet;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.watched-bar,
.playhead{
  background-color: rgb(255, 0, 0);
  display: inline-block;
  transition: all 0.2s;
}


.watched-bar{
  height: 110%;
}

.playhead{
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  max-width: 25px;
  max-height: 25px;
}

.controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button{
  background: none;
  outline: none;
  box-shadow: none;
  border: none;
  width: 10vw;
  height: 5vw;
  min-width: 50px;
  min-height: 50px;
  max-width: 0 0.5vw;  
  opacity: 0.4;
  transform: scale(0.9);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  margin-left: 2vw ;
}

button:hover {
  opacity: 1;
  transform: scale(1.2);
}

svg{
    width: 100%;
    height: 100%;
    stroke: white;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    width: 100%;
    height: 100%;
}

.volume svg path,
.help svg,
.episodes svg,
.full-screen svg,
.cast svg  {
  fill: none;
}

.rewind svg,
.fast-forward svg,
.captions svg {
  stroke: none;
  fill: white;
}

.slider{
  height: 2%;
  width: 8%;
  padding: 1.5%;
  display: flex;
  align-items: center;
  transform: scale(0.9);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  opacity: 0.4;
}
.subtitles-menu {
	display:none;
	position:absolute;
	bottom:7%;
	right:4%;
	background:blueviolet;
	list-style-type:none;
	width:5%;
  padding: 1vw 1.5vw;
  opacity: 0.9;
}
.subtitles-menu li {
	margin-right: 30%;
	text-align:center;
  width: 150%;
  padding-right: 100vw;
}
.subtitles-menu li button {
	border:none;
	background:rgb(109, 0, 0);
	color:rgb(255, 255, 255);
	cursor:pointer;
	width:90%;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
  height: 0;
  margin-left: -2.5vw;
  
}

/* WebVTT cues */
::cue { 
	color:#ccc;
}
::cue(v[voice='Test']) {
	color:#fff;
	background:#0095dd;
}


.slider:hover {
  opacity: 1;
  transform: scale(1.2);
  margin-right:2%;
}

input{
  height: 10px;
  -webkit-appearance: none;
  outline: none;
  background-color: blueviolet;
  border-radius: 25px;
  
}

input::-moz-range-progress{
  height: 100%;
  background: red;
}

input::-moz-range-thumb{
  height: 250%;
  width: 10%;
  background-color: red;
  border: none;
  -webkit-appearance: none;
}

.value{
  color: white;
  font-size: 1.5rem ;
  font-weight: 600;
  width: 15%;
  text-align: center;
  
}

.title {
  font-size: 2vw;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  .title {
    display: none;
  }
}

.series {
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding-left: 1em;
}

.episode {
  color: rgb(139, 107, 107);
  font-size: 0.75em;
  padding-left: 1vw;
}